.facility-list
 - @facilities.each do |f|
  = link_to f.title, f
  %br
- if current_user.mighty?
 .new-facility
  .show-button
  .showable
   %h3 Новый объект
   .new-facility
    = render partial: 'new'