%h2.facility-name= @facility.title
.application-new
.inventarization-new
 = form_for [@facility, Storage::InventarizationReport.new], url: facility_storage_applications_path(@facility) do |i|
  = i.submit 'Начать'
%hr
.applications-list
.transactions-last
 / each in ul in aka footer
 %ul
 %ul
