/ .consumables
/  = i.fields_for :consumables do |s|
/   = render 'layouts/consumable_fields', f: s
/  = link_to_add_association 'Добавить расходики', i, :consumables, partial: 'layouts/consumable_fields'
/  %br
/  .chem-consums
/   = i.fields_for :chem_consums do |s|
/    = render 'layouts/chem_consum_fields', f: s
/   = link_to_add_association 'Добавить расходики', i, :chem_consums, partial: 'layouts/chem_consum_fields'
/  %br
/  .equipment
/   = i.fields_for :equipment do |s|
/    = render 'layouts/equipment_fields', f: s
/   = link_to_add_association 'Добавить расходики', i, :equipment, partial: 'layouts/equipment_fields'
/  %br
.inventory
 = i.fields_for :inventory do |s|
  = render 'layouts/inventory_fields', f: s
 = link_to_add_association 'Добавить расходики', i, :inventory, partial: 'layouts/inventory_fields'
%br
- %w(consumables chem_consums equipment ).each do |m|
 = render "layouts/storage_attr_partial", model_name: m, i: i
/ = models.each { |m| render "layouts/storage_attr_partial", model_name: m, i: i }